<launch>
  <!-- face detect setup -->
  <arg name="camera" default="/pepper_robot/camera" />
  <arg name="rgb_ns" default="front" /> 
  <arg name="depth_ns" default="depth" /> 
  <arg name="image_topic" default="image_raw" />
  <arg name="depth_topic" default="image_raw" />
  <arg name="fixed_frame" default="camera_depth_optical_frame" />  <!-- This makes X: right, Y: backward, Z: downward w.r.t robot facing front. -->
  
  <arg name="config_filename" default="$(find pepper_app)/launch/pepper_facedetect.rviz"/>

  <include file="$(find face_detector)/launch/face_detector.rgbd.launch"> 
    <arg name="camera" value="$(arg camera)" />
    <arg name="depth_ns" value="$(arg depth_ns)" />
    <arg name="rgb_ns" value="$(arg rgb_ns)" />
    <arg name="image_topic" value="$(arg image_topic)" />
    <arg name="depth_topic" value="$(arg depth_topic)" />
    <arg name="fixed_frame" value="$(arg fixed_frame)" />
  </include>

  <include file="$(find pepper_moveit_config)/launch/demo.launch">
    <arg name="config_filename" value="$(arg config_filename)" />
  </include> 

</launch>
